$factor: 0.8;

@keyframes float1 {
	0% {
		transform: translate(0, 0) rotate(0deg);
	}
	25% {
		transform: translate(calc($factor * 3vw), calc($factor * -2vw)) rotate(calc($factor * 2deg));
	}
	50% {
		transform: translate(calc($factor * -2vw), calc($factor * 1.5vw)) rotate(calc($factor * -2deg));
	}
	75% {
		transform: translate(calc($factor * -3vw), calc($factor * -1vw)) rotate(calc($factor * 1deg));
	}
	100% {
		transform: translate(0, 0) rotate(0deg);
	}
}

@keyframes float2 {
	0% {
		transform: translate(0, 0) rotate(0deg);
	}
	30% {
		transform: translate(calc($factor * -2.5vw), calc($factor * 2vw)) rotate(calc($factor * -3deg));
	}
	60% {
		transform: translate(calc($factor * 3.5vw), calc($factor * -1vw)) rotate(calc($factor * 2deg));
	}
	90% {
		transform: translate(calc($factor * 1vw), calc($factor * 2.5vw)) rotate(calc($factor * -1deg));
	}
	100% {
		transform: translate(0, 0) rotate(0deg);
	}
}

@keyframes float3 {
	0% {
		transform: translate(0, 0) rotate(0deg);
	}
	20% {
		transform: translate(calc($factor * 2vw), calc($factor * 3vw)) rotate(calc($factor * 3deg));
	}
	55% {
		transform: translate(calc($factor * -3.5vw), calc($factor * -2vw)) rotate(calc($factor * -2deg));
	}
	85% {
		transform: translate(calc($factor * 2.5vw), calc($factor * -1.5vw)) rotate(calc($factor * 1deg));
	}
	100% {
		transform: translate(0, 0) rotate(0deg);
	}
}

@keyframes float4 {
	0% {
		transform: translate(0, 0) rotate(0deg);
	}
	35% {
		transform: translate(calc($factor * -1.5vw), calc($factor * -3vw)) rotate(calc($factor * -2deg));
	}
	65% {
		transform: translate(calc($factor * 2.5vw), calc($factor * 2vw)) rotate(calc($factor * 3deg));
	}
	80% {
		transform: translate(calc($factor * -2vw), calc($factor * 1vw)) rotate(calc($factor * -1deg));
	}
	100% {
		transform: translate(0, 0) rotate(0deg);
	}
}

@keyframes float5 {
	0% {
		transform: translate(0, 0) rotate(0deg);
	}
	28% {
		transform: translate(calc($factor * 3.5vw), calc($factor * 1.5vw)) rotate(calc($factor * -3deg));
	}
	58% {
		transform: translate(calc($factor * -2.5vw), calc($factor * -2.5vw)) rotate(calc($factor * 2deg));
	}
	88% {
		transform: translate(calc($factor * 1.5vw), calc($factor * -1.5vw)) rotate(calc($factor * -1deg));
	}
	100% {
		transform: translate(0, 0) rotate(0deg);
	}
}

@keyframes float6 {
	0% {
		transform: translate(0, 0) rotate(0deg);
	}
	22% {
		transform: translate(calc($factor * -3vw), calc($factor * 2.5vw)) rotate(calc($factor * 2deg));
	}
	48% {
		transform: translate(calc($factor * 2vw), calc($factor * -3vw)) rotate(calc($factor * -3deg));
	}
	78% {
		transform: translate(calc($factor * -1.5vw), calc($factor * 1.5vw)) rotate(calc($factor * 1deg));
	}
	100% {
		transform: translate(0, 0) rotate(0deg);
	}
}
