@keyframes float1 {
	0% {
		transform: translate(0, 0) rotate(0deg);
	}
	25% {
		transform: translate(calc(var(--anim-scale, 1) * 3vw), calc(var(--anim-scale, 1) * -2vw)) rotate(calc(var(--anim-scale, 1) * 2deg));
	}
	50% {
		transform: translate(calc(var(--anim-scale, 1) * -2vw), calc(var(--anim-scale, 1) * 1.5vw)) rotate(calc(var(--anim-scale, 1) * -2deg));
	}
	75% {
		transform: translate(calc(var(--anim-scale, 1) * -3vw), calc(var(--anim-scale, 1) * -1vw)) rotate(calc(var(--anim-scale, 1) * 1deg));
	}
	100% {
		transform: translate(0, 0) rotate(0deg);
	}
}

@keyframes float2 {
	0% {
		transform: translate(0, 0) rotate(0deg);
	}
	30% {
		transform: translate(calc(var(--anim-scale, 1) * -2.5vw), calc(var(--anim-scale, 1) * 2vw)) rotate(calc(var(--anim-scale, 1) * -3deg));
	}
	60% {
		transform: translate(calc(var(--anim-scale, 1) * 3.5vw), calc(var(--anim-scale, 1) * -1vw)) rotate(calc(var(--anim-scale, 1) * 2deg));
	}
	90% {
		transform: translate(calc(var(--anim-scale, 1) * 1vw), calc(var(--anim-scale, 1) * 2.5vw)) rotate(calc(var(--anim-scale, 1) * -1deg));
	}
	100% {
		transform: translate(0, 0) rotate(0deg);
	}
}

@keyframes float3 {
	0% {
		transform: translate(0, 0) rotate(0deg);
	}
	20% {
		transform: translate(calc(var(--anim-scale, 1) * 2vw), calc(var(--anim-scale, 1) * 3vw)) rotate(calc(var(--anim-scale, 1) * 3deg));
	}
	55% {
		transform: translate(calc(var(--anim-scale, 1) * -3.5vw), calc(var(--anim-scale, 1) * -2vw)) rotate(calc(var(--anim-scale, 1) * -2deg));
	}
	85% {
		transform: translate(calc(var(--anim-scale, 1) * 2.5vw), calc(var(--anim-scale, 1) * -1.5vw)) rotate(calc(var(--anim-scale, 1) * 1deg));
	}
	100% {
		transform: translate(0, 0) rotate(0deg);
	}
}

@keyframes float4 {
	0% {
		transform: translate(0, 0) rotate(0deg);
	}
	35% {
		transform: translate(calc(var(--anim-scale, 1) * -1.5vw), calc(var(--anim-scale, 1) * -3vw)) rotate(calc(var(--anim-scale, 1) * -2deg));
	}
	65% {
		transform: translate(calc(var(--anim-scale, 1) * 2.5vw), calc(var(--anim-scale, 1) * 2vw)) rotate(calc(var(--anim-scale, 1) * 3deg));
	}
	80% {
		transform: translate(calc(var(--anim-scale, 1) * -2vw), calc(var(--anim-scale, 1) * 1vw)) rotate(calc(var(--anim-scale, 1) * -1deg));
	}
	100% {
		transform: translate(0, 0) rotate(0deg);
	}
}

@keyframes float5 {
	0% {
		transform: translate(0, 0) rotate(0deg);
	}
	28% {
		transform: translate(calc(var(--anim-scale, 1) * 3.5vw), calc(var(--anim-scale, 1) * 1.5vw)) rotate(calc(var(--anim-scale, 1) * -3deg));
	}
	58% {
		transform: translate(calc(var(--anim-scale, 1) * -2.5vw), calc(var(--anim-scale, 1) * -2.5vw)) rotate(calc(var(--anim-scale, 1) * 2deg));
	}
	88% {
		transform: translate(calc(var(--anim-scale, 1) * 1.5vw), calc(var(--anim-scale, 1) * -1.5vw)) rotate(calc(var(--anim-scale, 1) * -1deg));
	}
	100% {
		transform: translate(0, 0) rotate(0deg);
	}
}

@keyframes float6 {
	0% {
		transform: translate(0, 0) rotate(0deg);
	}
	22% {
		transform: translate(calc(var(--anim-scale, 1) * -3vw), calc(var(--anim-scale, 1) * 2.5vw)) rotate(calc(var(--anim-scale, 1) * 2deg));
	}
	48% {
		transform: translate(calc(var(--anim-scale, 1) * 2vw), calc(var(--anim-scale, 1) * -3vw)) rotate(calc(var(--anim-scale, 1) * -3deg));
	}
	78% {
		transform: translate(calc(var(--anim-scale, 1) * -1.5vw), calc(var(--anim-scale, 1) * 1.5vw)) rotate(calc(var(--anim-scale, 1) * 1deg));
	}
	100% {
		transform: translate(0, 0) rotate(0deg);
	}
}

@keyframes float7 {
	// New animation for the 7th item
	0% {
		transform: translate(0, 0) rotate(0deg);
	}
	30% {
		transform: translate(calc(var(--anim-scale, 1) * 2.5vw), calc(var(--anim-scale, 1) * -2vw)) rotate(calc(var(--anim-scale, 1) * -2deg));
	}
	60% {
		transform: translate(calc(var(--anim-scale, 1) * -3.5vw), calc(var(--anim-scale, 1) * 1vw)) rotate(calc(var(--anim-scale, 1) * 3deg));
	}
	90% {
		transform: translate(calc(var(--anim-scale, 1) * -1vw), calc(var(--anim-scale, 1) * -2.5vw)) rotate(calc(var(--anim-scale, 1) * 1deg));
	}
	100% {
		transform: translate(0, 0) rotate(0deg);
	}
}

@mixin float-animations {
	&.expanded {
		z-index: 100;
		animation-duration: 20s; // Slower
		transform: scale(0.1); // Less movement (reduces the effective range)
	}

	&.frozen {
		animation-play-state: paused;
	}
}

.bounce {
	display: inline-block;
	vertical-align: middle;
	animation: float1 7s ease-in-out infinite;
	transform-origin: center;
	transform: scale(0.1); // Less movement (reduces the effective range)

	// This will apply different animations but not predictably
	&:nth-of-type(1n) {
		animation-name: float1;
	}
	&:nth-of-type(2n) {
		animation-name: float2;
	}
	&:nth-of-type(3n) {
		animation-name: float3;
	}
	&:nth-of-type(4n) {
		animation-name: float4;
	}
	&:nth-of-type(5n) {
		animation-name: float5;
	}

	&.frozen {
		animation-play-state: paused;
	}
}
