@use '../variables';
// @keyframes glitch {
// 	0% {
// 		z-index: 1000;
// 		line-height: 0.9pt;
// 	}
// 	10% {
// 		z-index: 1000;
// 	}
// 	80% {
// 		z-index: 1000;

// 		// font-size: 0.78vw;
// 		line-height: 0.3pt;
// 	}
// 	95% {
// 		z-index: 1000;
// 		flex-direction: column-reverse;
// 	}
// 	100% {
// 		z-index: 1000;
// 		line-height: 0.9pt;
// 	}
// }
nav {
	--anim-scale: 0.1;
	overflow: visible;
	padding: 5vh variables.$margin-top;
	padding-bottom: 0;
	// border-right: 2px solid white;
	// background: variables.$black;

	.source {
		padding: 0 !important;
	}

	.nav-tree-container {
		display: flex;
		flex-direction: column;
		// &.glitch {
		// 	animation: glitch 0.5s ease-in-out;
		// }
	}

	div {
		// emojis overflow
		overflow: visible;
	}
	* {
		overflow: visible;
	}
	.bottom {
		a {
			padding: 0 0.5rem;
		}
	}
	@media (max-width: #{variables.$ipad - 1px}) {
		width: 100vw;
		left: 0;
		text-align: center;
	}
	@media (min-width: variables.$ipad) {
		margin-left: 10vw;
		margin-top: 10vh;
		height: 75vh;
		position: absolute;
		display: inline-block;
		// z-index: 100;
		width: variables.$nav-width;
		.bottom {
			position: absolute;
			bottom: 5vh;
		}
	}

	a {
		cursor: url('../../public/cursors/macos-classic/hand.cur'), auto;
		text-decoration: underline;
	}

	.title {
		@include variables.green-title();
	}
}

@media (max-width: #{variables.$ipad - 1px}) {
	.nav-desktop {
		display: none;
	}
	.nav-mobile {
		display: flex;
		flex-direction: column;
		gap: 3vh;
		justify-content: space-between;
		padding: 0;
		.bounce {
			display: none;
		}
		// .bottom {
		// 	font-size: 0.8rem;
		// }
	}
	.go-home {
		text-align: center;
		position: relative;
		top: 2vh;
		// margin-bottom: 8vh;
		width: 100vw;
		@include variables.green-title();
		z-index: 1000;
		display: inline-block;
		span {
			color: variables.$black;
		}
		padding: 0;
	}
}
@media (min-width: variables.$ipad) {
	.nav-mobile {
		display: none;
	}
	.go-home {
		display: none;
	}
}
