@use '../variables';

nav {
	--anim-scale: 0.1;
	overflow: visible;
	padding: 5vh variables.$margin-top;
	padding-bottom: 0;
	// border-right: 2px solid white;
	// background: variables.$black;
	overflow: hidden;
	div {
		// emojis overflow
		overflow: visible;
	}
	.bottom {
		a {
			padding: 0 0.5rem;
		}
	}
	@media (max-width: variables.$ipad) {
		width: 100vw;
		left: 0;
		text-align: center;
	}
	@media (min-width: variables.$ipad) {
		margin-left: 10vw;
		margin-top: 10vh;
		height: 75vh;
		position: absolute;
		display: inline-block;
		z-index: 100;
		width: variables.$nav-width;
		.bottom {
			position: absolute;
			bottom: 5vh;
		}
	}

	a {
		cursor: url('../../public/cursors/macos-classic/hand.cur'), auto;
		text-decoration: underline;
	}

	.title {
		@include variables.green-title();
	}
}

@media (max-width: variables.$ipad) {
	.nav-desktop {
		display: none;
	}
	.nav-mobile {
		display: flex;
		flex-direction: column;
		gap: 2vh;
		padding: 0;
		.bounce {
			display: none;
		}
		// .bottom {
		// 	font-size: 0.8rem;
		// }
	}
	.go-home {
		text-align: center;
		position: relative;
		top: 8vh;
		width: 100vw;
		@include variables.green-title();
		z-index: 1000;
		display: inline-block;
		margin-bottom: 8vh;
		span {
			color: variables.$black;
		}
		padding: 0;
	}
}
@media (min-width: variables.$ipad) {
	.nav-mobile {
		display: none;
	}
	.go-home {
		display: none;
	}
}
