@use '../variables.scss';

#projects {
	overflow: visible;
	header,
	footer {
		padding: 2vh 0;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
	}

	button {
		border: none;
		background: none;
		cursor: pointer;
	}

	.h-yellow,
	.h-blue {
		padding: 0;
	}

	.screen-title-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.screen-title {
			margin-bottom: 0;
		}
		.filters {
			padding-top: 2vh;
			display: flex;
			justify-content: center;
			width: 100%;
			span {
				background-color: transparent;
				padding: 0 2vw;
				&.selected {
					background-color: variables.$c3;
					color: variables.$black;
				}
			}
		}
	}

	.project-repo {
		overflow: visible;
		text-align: center;
		.filters {
			display: flex;
			justify-content: center;
			.filter {
				text-align: center;
				cursor: url('../../public/cursors/macos-classic/hand.cur'), auto;
				&.active {
					text-decoration: underline;
				}
				&.selected {
					background-color: green;
				}
				&:hover {
					text-decoration: none;
				}
			}
		}
		.projects-list {
			overflow: visible;
			display: flex;
			align-items: baseline;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			gap: 2vw;
			margin: 4vh 0;

			--anim-scale: 0.5;

			.output-class {
				overflow: visible;
			}

			.project-card {
				overflow: visible;
				display: flex;
				box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
				// border-top: 1px solid variables.$c0;
				// border-left: 1px solid variables.$c0;
				// border-right: 1px solid variables.$c0;
				* {
					color: black !important;
				}
				.h-blue {
					color: variables.$c0 !important;
				}
				.project-image-container {
					position: relative;
					cursor: grab;
					img {
						display: block;
						width: 100%;
					}
					.sparkle-overlay {
						background: hsla(0, 0%, 4%, 0.2);
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						pointer-events: none;
						background-image: url('../../public/gifs/stars/stars.gif');
						background-repeat: repeat;
						background-size: 20px 20px;
						opacity: 0.8;
						z-index: 2;
						will-change: background-position;
					}
				}

				.project-caption {
					cursor: pointer;
					position: relative;
					// border: 1px solid variables.$c0;
				}
				.project-description-wrapper {
					/* 					// border-bottom: 1px solid variables.$c0;
					// border-left: 1px solid variables.$c0;
					// border-right: 1px solid variables.$c0; */
					box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
					text-align: center;
					display: flex;
					flex-direction: column;
					background-color: variables.$c5;

					// border: 1px solid variables.$c0;
					.project-content {
						overflow: visible;
						color: black !important;
						padding-left: 1vw;
						display: flex;
						flex-direction: column;
					}
				}
			}
		}
	}

	@media (min-width: variables.$ipad) {
		.reset-pos {
			z-index: 10000;
			background-color: variables.$c4 !important;
		}
		.project-draggable {
			overflow: visible;
			position: relative;
			cursor: grab;
			user-select: none;
			touch-action: none;
			transition: none;
			width: 10vw; // Add fixed width here
			&.dragging {
				cursor: grabbing;
				opacity: 0.9;
				transition: opacity 0.2s;
				z-index: 1000 !important;
			}
		}

		.project-card {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%; // Take full width of parent
			position: relative;

			.project-caption {
				width: 10vw;

				&.selected {
					padding: 0;
					margin: 0;
					width: 30vw;
				}
			}

			.project-image-container {
				width: 100%; // Ensure image container doesn't grow

				img {
					user-drag: none;
					-webkit-user-drag: none;
					user-select: none;
					-webkit-user-select: none;
					pointer-events: none;
				}
			}
			.project-description-wrapper {
				margin: 0;
				padding: 0;
				overflow-y: scroll;
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translateX(-50%);
				color: black;
				width: 30vw !important;
				max-height: 60vh;
				text-align: left;
				z-index: 100;
				pointer-events: auto;
				max-height: 40vh;
				.project-content {
					width: 28vw;
				}
			}
		}
	}

	@media (max-width: variables.$ipad) {
		overflow-y: scroll;
		overflow-x: hidden;
		.sparkle-overlay {
			background-size: 10vh;
		}
		.reset-pos {
			display: none;
		}
		.projects-list {
			flex-direction: column;

			.project-draggable {
				transform: none !important;
			}

			.project-card {
				display: flex;
				flex-direction: column;
				width: 80vw;
				.project-image-container {
					width: 80vw;
				}
				.project-caption {
					width: 80vw;
				}
				img {
					width: 80vw;
				}
			}

			.project-description-wrapper {
				padding: 2vw;
				width: 78vw;
				button {
					display: none;
				}
			}
			.project-item {
				flex-direction: column;
			}
		}
	}
}
