@use '../variables.scss';

#projects {
	overflow: visible;
	header,
	footer {
		padding: 2vh 0;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
	}

	button {
		border: none;
		background: none;
		cursor: pointer;
	}

	.h-yellow,
	.h-blue {
		padding: 0;
	}

	.screen-title-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.screen-title {
			margin-bottom: 0;
		}
		// .filters {
		// 	padding-top: 2vh;
		// 	display: flex;
		// 	justify-content: center;
		// 	width: 100%;
		// 	span {
		// 		background-color: transparent;
		// 		padding: 0 2vw;
		// 		&.selected {
		// 			background-color: variables.$c3;
		// 			color: variables.$black;
		// 		}
		// 	}
		// }
	}

	.project-repo {
		overflow: visible;
		text-align: center;
		// .filters {
		// 	display: flex;
		// 	justify-content: center;
		// 	// .filter {
		// 	// 	text-align: center;
		// 	// 	cursor: url('../../public/cursors/macos-classic/hand.cur'), auto;
		// 	// 	&.active {
		// 	// 		text-decoration: underline;
		// 	// 	}
		// 	// 	&.selected {
		// 	// 		background-color: green;
		// 	// 	}
		// 	// 	&:hover {
		// 	// 		text-decoration: none;
		// 	// 	}
		// 	// }
		// }
		.projects-list {
			overflow: visible;
			display: flex;
			align-items: baseline;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			gap: 2vw;
			margin: 4vh 0;

			--anim-scale: 0.5;

			.output-class {
				overflow: visible;
			}

			.project-card {
				overflow: visible;
				display: flex;
				box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
				// border-top: 1px solid variables.$c0;
				// border-left: 1px solid variables.$c0;
				// border-right: 1px solid variables.$c0;

				.project-content {
					padding: 2vh 1vw;
				}

				.h-blue {
					color: variables.$c0 !important;
				}
				.project-image-container {
					position: relative;
					cursor: grab;
					img {
						display: block;
						width: 100%;
					}
					.sparkle-overlay {
						background: hsla(0, 0%, 4%, 0.2);
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						pointer-events: none;
						background-image: url('../../public/gifs/stars/stars.gif');
						background-repeat: repeat;
						background-size: 20px 20px;
						opacity: 0.8;
						z-index: 2;
						will-change: background-position;
					}
				}

				.project-caption {
					cursor: pointer;
					position: relative;
					// border: 1px solid variables.$c0;
				}
				.project-description-wrapper {
					/* 					// border-bottom: 1px solid variables.$c0;
					// border-left: 1px solid variables.$c0;
					// border-right: 1px solid variables.$c0; */
					box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
					text-align: center;
					display: flex;
					flex-direction: column;
				}
			}
		}

		.gigs {
			ul {
				text-align: left;
			}
		}
	}

	@media (max-width: #{variables.$ipad - 1px}) {
		overflow-y: auto !important;
		overflow-x: hidden !important;
		.reset-pos {
			display: none;
		}
		.h-blue {
			display: block !important;
			width: 100%;
		}
		.project-card {
			background: hsla(0, 0%, 2%, 1);
			flex-direction: column;
			.project-description-wrapper {
				color: variables.$c0 !important;
			}
		}
	}
	@media (min-width: variables.$ipad) {
		.project-repo {
			.projects-list {
				flex-direction: row;

				.project-draggable {
					overflow: visible;
					position: relative;
					cursor: grab;
					user-select: none;
					touch-action: none;
					transition: none;
					width: 10vw; // Add fixed width here
					&.dragging {
						cursor: grabbing;
						opacity: 0.9;
						transition: opacity 0.2s;
						z-index: 1000 !important;
					}

					.project-card {
						display: flex;
						flex-direction: column;
						align-items: center;
						width: 100%; // Take full width of parent
						position: relative;

						.project-caption {
							width: 10vw;

							&.selected {
								padding: 0;
								margin: 0;
								width: 30vw;
							}
						}

						.project-image-container {
							width: 100%; // Ensure image container doesn't grow

							&.hidden {
								display: none;
							}
							img {
								user-drag: none;
								-webkit-user-drag: none;
								user-select: none;
								-webkit-user-select: none;
								pointer-events: none;
							}
						}
						.project-description-wrapper {
							width: 50vw;
							height: 60vh;
							margin: 0;
							padding: 0;
							overflow-y: scroll;
							color: black;
							text-align: left;
							z-index: 100;
							pointer-events: auto;

							.project-content {
								display: flex;
								flex-direction: row;
								img {
									max-width: 20vw;
								}
							}
						}
					}
				}
			}
		}
	}
	.project-overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 10000;
		background: hsla(0, 0%, 2%, 0.5);
		overflow-y: auto;

		.project-overlay-content {
			position: relative;
			width: 80vw;
			height: 60vh;
			padding: 3vw;
			background: hsla(0, 0%, 2%, 1);
			box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
			border: variables.$border;
			overflow-y: auto;

			// img {
			// 	// border: variables.$border;
			// 	box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
			// }

			.close-button {
				position: fixed;
				top: 16vh;
				right: 9vw;
				font-size: 1.1em;
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
				z-index: 10001;
				&:hover {
					background: variables.$c3;
				}
			}

			.project-content {
				// height: 100%;
				display: flex;
				flex-direction: row;
				gap: 2rem;

				img {
					position: fixed;
					max-width: 30vw;
					height: fit-content;
					border: variables.$border;
				}

				.project-text {
					align-self: flex-start;
					padding-left: 35vw;
					width: 60%;
					display: flex;
					flex-direction: column;

					.shown-at {
						width: 100%;
						ul {
							text-align: left;
						}
					}

					iframe {
						border-width: 1px;
					}
					h3 {
						text-decoration: underline;
						background-color: variables.$c3;
						margin-top: 0;
					}
				}
			}
		}
	}
}
