@use '../variables.scss';

#projects {
	footer {
		padding: 2vh 0;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
	}

	.screen-title-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.screen-title {
			margin-bottom: 0;
		}
		.filters {
			padding-top: 2vh;
			display: flex;
			justify-content: center;
			width: 100%;
			span {
				background-color: transparent;
				padding: 0 2vw;
				&.selected {
					background-color: variables.$c3;
					color: variables.$black;
				}
			}
		}
	}

	.project-repo {
		overflow: visible;
		text-align: center;
		.filters {
			display: flex;
			justify-content: center;
			.filter {
				text-align: center;
				cursor: pointer;
				&.active {
					text-decoration: underline;
				}
				&.selected {
					background-color: green;
				}
				&:hover {
					text-decoration: none;
				}
			}
		}
		.projects-list {
			overflow: visible;
			display: flex;
			// flex-direction: column;
			align-items: baseline;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			gap: 2vw;
			margin: 4vh 0;

			.output-class {
				--anim-scale: 0.5;
				.project-item {
					align-items: center;
					display: flex;
					flex-direction: column;

					.project-item-content {
						background: variables.$c2;
						border: variables.$border;
					}
				}

				.project-image-container {
					position: relative;
					display: inline-block;

					img {
						display: block;
						width: 100%;
					}
					.sparkle-overlay {
						background: hsla(0, 0%, 4%, 0.2);
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						pointer-events: none; // Allow clicks to pass through
						background-image: url('../../public/gifs/stars/stars.gif');
						background-repeat: repeat;
						background-size: 20px 20px; // Adjust size as needed
						opacity: 0.8; // Slight transparency for authenticity
						z-index: 2;
						will-change: background-position; // Hint to browser to keep animating
					}
				}
			}
		}
	}

	@media (min-width: variables.$ipad) {
		.project-item {
			width: 15vw;
		}
	}

	@media (max-width: variables.$ipad) {
		.project-caption {
			width: 80vw;
		}
		.project-image-container {
			width: 80vw;
		}
		img {
			width: 80vw;
		}
	}
}
