@use '../variables.scss';

#projects {
	header,
	footer {
		padding: 2vh 0;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
	}

	.screen-title-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.screen-title {
			margin-bottom: 0;
		}
		.filters {
			padding-top: 2vh;
			display: flex;
			justify-content: center;
			width: 100%;
			span {
				background-color: transparent;
				padding: 0 2vw;
				&.selected {
					background-color: variables.$c3;
					color: variables.$black;
				}
			}
		}
	}

	.project-repo {
		overflow: visible;
		text-align: center;
		.filters {
			display: flex;
			justify-content: center;
			.filter {
				text-align: center;
				cursor: url('../../public/cursors/macos-classic/hand.cur'), auto;
				&.active {
					text-decoration: underline;
				}
				&.selected {
					background-color: green;
				}
				&:hover {
					text-decoration: none;
				}
			}
		}
		.selected-project-info {
			display: none;
			&.show {
				display: block;
			}
		}
		.projects-list {
			overflow: visible;
			display: flex;
			align-items: baseline;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			gap: 2vw;
			margin: 4vh 0;

			.output-class {
				--anim-scale: 0.5;

				.project-item {
					align-items: center;
					display: flex;

					.project-details {
						background: variables.$c4;
					}

					.project-image-container {
						position: relative;
						display: inline-block;

						img {
							display: block;
							width: 100%;
						}
						.sparkle-overlay {
							background: hsla(0, 0%, 4%, 0.2);
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							pointer-events: none;
							background-image: url('../../public/gifs/stars/stars.gif');
							background-repeat: repeat;
							background-size: 20px 20px;
							opacity: 0.8;
							z-index: 2;
							will-change: background-position;
						}
					}

					.project-caption {
						cursor: pointer;
						position: relative;
						z-index: 10;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}

	@media (min-width: variables.$ipad) {
		.output-class {
			--anim-scale: 0.5;

			.project-item {
				flex-direction: row;
				width: 10vw;
				img {
					user-drag: none;
					-webkit-user-drag: none;
					user-select: none;
					-webkit-user-select: none;
					pointer-events: none;
				}
				.project-details-wrapper {
					width: 30vw;
					.project-details {
						width: 30vw;
						display: block;
					}
				}
			}
			&.project-draggable {
				position: relative;
				cursor: grab;
				user-select: none;
				touch-action: none; // Prevent default touch behaviors
				transition: none; // Remove transitions while dragging

				&.dragging {
					cursor: grabbing;
					opacity: 0.9;
					transition: opacity 0.2s;
					z-index: 1000 !important;
				}

				&.frozen {
					cursor: default;
				}
			}
		}
	}

	@media (max-width: variables.$ipad) {
		.output-class {
			&.project-draggable {
				transform: none !important;
			}
			.project-card {
				display: flex;
				flex-direction: column;
			}
			.project-caption {
				width: 80vw;
			}
			.project-image-container {
				width: 80vw;
			}
			.project-item {
				flex-direction: column;
			}
			img {
				width: 80vw;
			}
		}
	}
}
