@use 'Animations.scss';
@use '../variables';
#research {
	.research-text {
		--anim-scale: 0.1;
		overflow: visible;
	}
	.outputs {
		overflow: visible;
		display: flex;
		flex-direction: column;
		align-items: center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1.5vw;
		.output-class {
			--anim-scale: 0.8;

			display: inline-block;
			animation: float 6s ease-in-out infinite;
			li {
				padding: 1vh 0;
				background: variables.$c5;
				color: variables.$black;
				a {
					color: variables.$black;
				}
			}

			// Give each label a different animation delay so they move independently
			&:nth-child(1) {
				animation: float1 7s ease-in-out infinite;
				animation-duration: 8s;
			}
			&:nth-child(2) {
				animation: float2 8s ease-in-out infinite;
			}
			&:nth-child(3) {
				animation: float3 6.5s ease-in-out infinite;
			}
			&:nth-child(4) {
				animation: float4 7.5s ease-in-out infinite;
			}
			&:nth-child(5) {
				animation: float5 8.5s ease-in-out infinite;
			}
			&:nth-child(6) {
				animation: float6 6s ease-in-out infinite;
			}
			&:nth-child(7) {
				animation: float7 7.5s ease-in-out infinite;
			}

			&.expanded {
				z-index: 100;
				animation-duration: 20s; // Slower
				transform: scale(0.1); // Less movement (reduces the effective range)
			}

			&.frozen {
				animation-play-state: paused;
			}
		}

		.collapse-all {
			text-align: center;
			margin-top: 2vh;
		}
	}
}
