@use '../variables';

#title {
	overflow: hidden;
	.h-red {
		padding: 0;
		z-index: -1000;
	}
	.home-title {
		height: 80vh;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		div,
		span {
			line-height: 2.2vh;
		}
	}

	@media (max-width: #{variables.$ipad - 1px}) {
		overflow-y: auto !important;
		.content {
			padding: 0;
		}

		.home-title {
			display: none;
		}
		.content {
			margin-top: 7vh;
			span {
				color: variables.$c0;
				width: 100vw;
			}
		}
	}
}
