@use '../variables';

#title {
	overflow: hidden !important;
	.h-red {
		padding: 0;
		z-index: -1000;
	}

	@media (min-width: #{variables.$ipad}) {
		.home-title {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			div,
			span {
				line-height: 2.2vh;
			}
		}
		.title-screen {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
		}
	}

	@media (max-width: #{variables.$ipad - 1px}) {
		// overflow-y: auto !important;
		.content {
			padding: 0;
		}

		.home-title {
			display: none;
		}
		.content {
			margin-top: 7vh;
			span {
				color: variables.$c0;
				width: 100vw;
			}
		}
	}
}
