@use 'sass:meta';
@use 'variables.scss';

// font
// @import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&family=Inconsolata:wght@200..900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
// @font-face {
// 	font-family: 'Rainy Hearts';
// 	src: url('../../public/fonts/RainyHearts.ttf') format('truetype'); /* IE9 Compat Modes */
// }
// @font-face {
// 	font-family: 'Pixel Arial';
// 	src: url('../../public/fonts/PIXEARG_.ttf') format('truetype'); /* IE9 Compat Modes */
// }

@font-face {
	font-family: 'Times New Pixel';
	src: url('../../public/fonts/TimesNewPixel.ttf') format('truetype'); /* IE9 Compat Modes */
}
// styles
* {
	color: variables.$c0;
	scroll-behavior: smooth;
	font-family: 'Times New Pixel', monospace;
	font-weight: lighter;
	// font-family: 'Comic Neue', system-ui;
	// font-family: 'Fragment Mono', monospace;
	// font-family: 'IBM Plex Mono', monospace;
	font-size: clamp(1rem, 3vw, 1.25rem);
	line-height: 1em;
	cursor: url('../../public/cursors/macos-classic/arrow.cur'), auto;

	a,
	.clickable {
		text-decoration: underline;
		cursor: url('../../public/cursors/macos-classic/hand.cur'), auto;
		overflow-wrap: break-word;
	}

	@media (max-width: #{variables.$ipad - 1px}) {
		font-size: 4vh;
		line-height: 1rem;
	}

	& {
		overflow: hidden;
	}

	ul {
		padding-left: 0;
	}
	#root {
		background-image: url('../../public/gifs/stars/stars-bg.gif');
		background-size: 12rem;
	}
	main {
		background: hsla(0, 0%, 2%, 0.4);
		display: flex;
		flex-wrap: wrap;
		width: variables.$screen-num * 100vw;
	}

	body {
		// background: variables.$black;
		margin: 0;
	}

	// selection color
	::-moz-selection,
	::selection {
		background: variables.$c3;
	}

	//scrollbar
	/* width */
	::-webkit-scrollbar {
		width: 1vw;
		position: fixed;
	}

	::-webkit-scrollbar-thumb {
		position: fixed;
		border: 1px solid variables.$c0;
	}

	.videos {
		display: flex;
	}
}

.h-red {
	padding: 0 0.2rem;
	background: variables.$c3;
	color: variables.$black;
}
.h-orange {
	padding: 0 0.2rem;
	background: variables.$c5;
	color: variables.$black;
}
.h-green {
	padding: 0 0.2rem;
	background: variables.$c1;
	color: variables.$black;
}
.h-yellow {
	padding: 0 0.2rem;
	background: variables.$c4;
	color: variables.$black;
	text-decoration: underline;
}
.h-blue {
	padding: 0 0.2rem;
	background: variables.$c2;
	text-decoration: underline;
}

.screen {
	margin: 0;
	padding: 0;
	padding-top: 1vw;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	// scrollbar
	overflow-y: scroll;
	/* Chrome, safari */
	::-webkit-scrollbar {
		width: 8px;
	}
	::-webkit-scrollbar-thumb {
		background-color: variables.$black;
		border: 1px solid white;
	}

	/* Firefox */
	.selector {
		scrollbar-color: black !important;
		background-color: variables.$black;
		border: 1px solid white;
	}

	.screen-title {
		background-color: variables.$c2;
		padding: 0.2vw 1vw;
		margin-bottom: 70px;
		// text-decoration: underline;
	}

	@media (min-width: variables.$ipad) {
		overflow: hidden;
		padding: 10vh 10vw;
		width: 80vw;
		height: 80vh;
		.content {
			background: hsla(0, 0%, 4%, 0.5);
			border: 1px solid variables.$c0;
			padding: variables.$margin-top 0;
			height: 70vh;
			// padding-top: 5vh;
			// padding-bottom: 5vh;
			padding-left: 28vw;
			padding-right: 8vw;
			// height: 90vh;
			overflow-y: visible;
			/* Chrome, safari */
			::-webkit-scrollbar {
				width: 8px;
			}
			::-webkit-scrollbar-thumb {
				background-color: variables.$black;
				border: 1px solid white;
			}

			/* Firefox */
			.selector {
				scrollbar-color: black !important;
				background-color: variables.$black;
				border: 1px solid white;
			}
		}
	}
	@media (max-width: #{variables.$ipad - 1px}) {
		.content {
			padding: 0 4vw;
			padding-top: 4vh;
			margin-bottom: 8vh;
		}
		.videos {
			flex-wrap: wrap;
		}
	}
}

@media (min-width: variables.$desktop) {
	* {
		font-size: 1.02em;
	}
}
@include meta.load-css('components/Nav.scss');
@include meta.load-css('components/Title.scss');
@include meta.load-css('components/About.scss');
@include meta.load-css('components/Now.scss');
@include meta.load-css('components/Research.scss');
@include meta.load-css('components/Projects.scss');
@include meta.load-css('components/Blog.scss');
