// font
//@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
// vars

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

$ipad: 812px;
$phone: 430px;
$rot: 480px;
$tgreen: rgb(0, 255, 0);

@keyframes floating {
	0% {
		transform: translate(0, 0px);
	}
	25% {
		transform: translate(2px, 2px);
	}
	50% {
		transform: translate(-0, 2px);
	}
	100% {
		transform: translate(0, -0px);
	}
}

// styles
* {
	color: white;
	font-family: 'IBM Plex Mono', monospace;
	overflow: hidden;
	body {
		animation: floating 5s ease-in-out infinite;
		background: black;
		margin: 0;
	}

	// selection color
	::-moz-selection {
		background: red;
	}
	::selection {
		background: red;
	}
}

@media (max-width: $ipad) {
	.nav-desktop {
		display: none;
	}
}
@media (min-width: $ipad) {
	// in mobile nav is part of screen title
	.nav-mobile {
		display: none;
	}
}

nav {
	background: black;
	height: 100vh;
	@media (max-width: $ipad) {
		width: 100vw;
		height: 100vh;

		left: 0;
		// background: black;
	}
	@media (min-width: $ipad) {
		position: absolute;
		display: inline-block;
		z-index: 100;
		width: 25vw;
	}
	// center text in column
	// display: flex;
	// flex-direction: column;
	// justify-content: center;
	// center div
	// top: 50%;
	// transform: translateY(-50%);
	padding: 1vw;
	border-right: 1px solid white;

	// background: black;
	animation: floating 5s ease-in-out infinite;
	a {
		cursor: pointer;
	}

	.title {
		background-color: $tgreen;
		text-align: center;
		color: black;
	}

	.leave {
		// display: none;
		background: black;
		display: flex;
		flex-direction: column;
		.leave {
			flex-direction: row;
		}
	}
	.bottom {
		background: black;
		position: absolute;
		bottom: 5vh;
	}
	@media (max-width: $ipad) {
		.leave.hide,
		.bottom.hide {
			display: none;
		}
		.bottom {
			display: block;
			width: 100vw;
		}
	}
}
main {
	display: flex;
	flex-wrap: wrap;
	width: 300vw;
	.screen {
		margin: 0;
		padding: 0;

		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;

		height: 100vh;
		width: 100vw;
		@media (max-width: $ipad) {
			// font-size: 0.7rem;
		}
		@media (min-width: $ipad) {
			.content {
				padding-left: 25vw;
			}
		}
	}
	#title {
		span {
			span {
				background-color: red;
			}
		}
		@media (max-width: $ipad) {
			.content {
				padding-top: 30vh;
				span {
					width: 100vw;
					color: white;
				}
			}
		}
	}
}

// .title-name {
// 	user-select: none;
// 	font-family: monospace;
// 	overflow: hidden;
// 	display: flex;

// 	// todo: fix rotated phones
// 	@media (min-width: $ipad) {
// 		font-size: 1.5vw;
// 	}
// 	@media (max-width: $ipad) {
// 		font-size: min(10pt, 3vw);
// 		flex-direction: column;
// 	}

// 	.color1 {
// 		color: greenyellow;
// 	}
// 	.color2 {
// 		color: green;
// 	}
// }

/*.infos {
	margin-top: 1.5vh;
	color: green;
	user-select: none;
	span {
		color: greenyellow;
	}
	@media (min-width: $ipad) {
		font-size: 1.5vw;
	}
	@media (max-width: $ipad) {
		font-size: min(12pt, 3.8vw);
		padding: 0 3vw;
	}
}*/
