// font
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;900&display=swap");

* {
    background: black;
    color: greenyellow;
    font-family: "Inconsolata", monospace;
    overflow: hidden;
}
main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#name {
    font-family: monospace;
    white-space: pre;
    text-align: left;
    max-width: 100%;
    overflow: scroll;
    background: transparent;
    line-height: 110%;
    .color1 {
        color: greenyellow;
    }
    .color2 {
        color: green;
    }
}

#infos {
    margin-top: 1.5vh;
}
